{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   {% if is_not_subscriber %}
      <p class="text-center"><a href="{% url 'subscribe' category.id %}"class="btn btn-secondary btn-sm">Подписаться</a></p>
   {% endif %}

   {% if perms.news.add_one_post %}
   <a href="{% url 'news_create' %}">Добавить новость</a>
   <a href="{% url 'post_create' %}">Добавить статью</a>
   {% endif %}

   <hr>
   {% if category_news_list %}
      <table>
         {% for post in category_news_list %}
         <tr>
            <td>{{ post.post_title|truncatechars:50 }}</td>
            <td>{{ post.post_time|date:'d M Y' }}</td>
            <td>{{ post.post_text|truncatechars:50 }}</td>
            <td>{% for category in post.category.all %}
               <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
               {% endfor %}
            </td>
            <td>
               {% if perms.news.change_one_post %}
               <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
               {% endif %}
               {% if perms.news.delete_one_post %}
               <a href="{% url 'news_delete' post.id %}">Удалить</a>
               {% endif %}
            <td>
         </tr>
         {% endfor %}

      </table>
   {% else %}
      <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
      <a href="?page=1">1</a>
      {% if page_obj.previous_page_number != 1 %}
         ...
         <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
      {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      {% if paginator.num_pages != page_obj.next_page_number %}
         ...
         <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
   {% endif %}

{% endblock content %}
